troparo-web/src/main/resources/org/troparo/web/services/BookService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://troparo.org/services/BookService/"
                  xmlns:tns="http://troparo.org/services/BookService/"
                  xmlns:book="http://troparo.org/entities/book" name="BookService">

    <wsdl:types>
        <xsd:schema targetNamespace="http://troparo.org/services/BookService/">
            <xsd:import namespace="http://troparo.org/entities/book"
                        schemaLocation="../entities/book.xsd" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="BookListRequest">
        <wsdl:part element="book:BookListRequestType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="BookListResponse">
        <wsdl:part element="book:BookListResponseType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="addBookRequest">
        <wsdl:part element="book:addBookRequestType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="addBookResponse">
        <wsdl:part element="book:addBookResponseType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="getBookByIdRequest">
        <wsdl:part element="book:getBookByIdRequestType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="getBookByIdResponse">
        <wsdl:part element="book:getBookByIdResponseType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="BusinessException">
        <wsdl:part element="book:BusinessFaultType" name="parameters" />
    </wsdl:message>

    <wsdl:portType name="IBookService">
        <wsdl:operation name="getAllBooks">
            <wsdl:input message="tns:BookListRequest" />
            <wsdl:output message="tns:BookListResponse" />
            <wsdl:fault name="businessException" message="tns:BusinessException" />
        </wsdl:operation>
        <wsdl:operation name="addBook">
            <wsdl:input message="tns:addBookRequest" />
            <wsdl:output message="tns:addBookResponse" />
            <wsdl:fault name="businessException" message="tns:BusinessException" />
        </wsdl:operation>
        <wsdl:operation name="getBookById">
            <wsdl:input message="tns:getBookByIdRequest" />
            <wsdl:output message="tns:getBookByIdResponse" />
            <wsdl:fault name="businessException" message="tns:BusinessException" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BookServiceSOAPBinding" type="tns:IBookService">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getAllBooks">
            <soap:operation
                    soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="businessException">
                <soap:fault name="businessException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addBook">
            <soap:operation
                    soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="businessException">
                <soap:fault name="businessException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getBookById">
            <soap:operation
                    soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="businessException">
                <soap:fault name="businessException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="BookService">
        <wsdl:port name="BookServicePort" binding="tns:BookServiceSOAPBinding">
            <soap:address
                    location="http://localhost:8080/troparo/services/book/BookService" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>