troparo-web/src/main/resources/org/troparo/web/services/BookerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://troparo.org/services/BookerService/"
                  xmlns:tns="http://troparo.org/services/BookerService/"
                  xmlns:booker="http://troparo.org/entities/booker" name="BookerService">

    <wsdl:types>
        <xsd:schema targetNamespace="http://troparo.org/services/BookerService/">
            <xsd:import namespace="http://troparo.org/entities/booker"
                        schemaLocation="../entities/booker.xsd" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="addCopyRequest">
        <wsdl:part element="booker:addCopyRequestType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="addCopyResponse">
        <wsdl:part element="booker:addCopyResponseType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="getAvailableRequest">
        <wsdl:part element="booker:getAvailableRequestType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="getAvailableResponse">
        <wsdl:part element="booker:getAvailableResponseType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="removeBookerRequest">
        <wsdl:part element="booker:removeBookerRequestType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="removeBookerResponse">
        <wsdl:part element="booker:removeBookerResponseType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="updateBookerRequest">
        <wsdl:part element="booker:updateBookerRequestType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="updateBookerResponse">
        <wsdl:part element="booker:updateBookerResponseType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="BookerListRequest">
        <!--<wsdl:part element="booker:BookerListRequestType" name="parameters" />-->
    </wsdl:message>
    <wsdl:message name="BookerListResponse">
        <wsdl:part element="booker:BookerListResponseType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="addBookerRequest">
        <wsdl:part element="booker:addBookerRequestType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="addBookerResponse">
        <wsdl:part element="booker:addBookerResponseType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="getBookerByIdRequest">
        <wsdl:part element="booker:getBookerByIdRequestType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="getBookerByIdResponse">
        <wsdl:part element="booker:getBookerByIdResponseType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="getBookerByCriteriasRequest">
        <wsdl:part element="booker:getBookerByCriteriasRequestType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="getBookerByCriteriasResponse">
        <wsdl:part element="booker:getBookerByCriteriasResponseType" name="parameters" />
    </wsdl:message>
    <wsdl:message name="BusinessException">
        <wsdl:part element="booker:BusinessFaultType" name="parameters" />
    </wsdl:message>

    <wsdl:portType name="IBookerService">
        <wsdl:operation name="addCopy">
            <wsdl:input message="tns:addCopyRequest" />
            <wsdl:output message="tns:addCopyResponse" />
            <wsdl:fault name="businessException" message="tns:BusinessException" />
        </wsdl:operation>
        <wsdl:operation name="getAvailable">
            <wsdl:input message="tns:getAvailableRequest" />
            <wsdl:output message="tns:getAvailableResponse" />
            <wsdl:fault name="businessException" message="tns:BusinessException" />
        </wsdl:operation>
        <wsdl:operation name="removeBooker">
            <wsdl:input message="tns:removeBookerRequest" />
            <wsdl:output message="tns:removeBookerResponse" />
            <wsdl:fault name="businessException" message="tns:BusinessException" />
        </wsdl:operation>
        <wsdl:operation name="updateBooker">
            <wsdl:input message="tns:updateBookerRequest" />
            <wsdl:output message="tns:updateBookerResponse" />
            <wsdl:fault name="businessException" message="tns:BusinessException" />
        </wsdl:operation>
        <wsdl:operation name="getAllBookers">
            <wsdl:input message="tns:BookerListRequest" />
            <wsdl:output message="tns:BookerListResponse" />
            <wsdl:fault name="businessException" message="tns:BusinessException" />
        </wsdl:operation>
        <wsdl:operation name="addBooker">
            <wsdl:input message="tns:addBookerRequest" />
            <wsdl:output message="tns:addBookerResponse" />
            <wsdl:fault name="businessException" message="tns:BusinessException" />
        </wsdl:operation>
        <wsdl:operation name="getBookerById">
            <wsdl:input message="tns:getBookerByIdRequest" />
            <wsdl:output message="tns:getBookerByIdResponse" />
            <wsdl:fault name="businessException" message="tns:BusinessException" />
        </wsdl:operation>
        <wsdl:operation name="getBookerByCriterias">
            <wsdl:input message="tns:getBookerByCriteriasRequest" />
            <wsdl:output message="tns:getBookerByCriteriasResponse" />
            <wsdl:fault name="businessException" message="tns:BusinessException" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BookerServiceSOAPBinding" type="tns:IBookerService">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getAvailable">
            <soap:operation
                    soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="businessException">
                <soap:fault name="businessException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeBooker">
            <soap:operation
                    soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="businessException">
                <soap:fault name="businessException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateBooker">
            <soap:operation
                    soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="businessException">
                <soap:fault name="businessException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllBookers">
            <soap:operation
                    soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="businessException">
                <soap:fault name="businessException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addBooker">
            <soap:operation
                    soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="businessException">
                <soap:fault name="businessException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getBookerById">
            <soap:operation
                    soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="businessException">
                <soap:fault name="businessException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getBookerByCriterias">
            <soap:operation
                    soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="businessException">
                <soap:fault name="businessException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="BookerService">
        <wsdl:port name="BookerServicePort" binding="tns:BookerServiceSOAPBinding">
            <soap:address
                    location="http://localhost:8080/troparo/services/booker/BookerService" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>