troparo-web/src/main/resources/org/troparo/web/entities/booker.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://troparo.org/entities/booker" xmlns:tns="http://troparo.org/entities/booker"
            elementFormDefault="qualified">


    <!--CRUD-->

    <!-- Add Booker Request Type -->
    <xsd:element name="addBookerRequestType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:BookerTypeIn" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Add Booker  Response Type -->
    <xsd:element name="addBookerResponseType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="return" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Booker List Response Type -->
    <xsd:element name="BookerListResponseType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:BookerListType" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Get Booker Request Type -->
    <xsd:element name="getBookerByIdRequestType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="return" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Get Booker Response Type -->
    <xsd:element name="getBookerByIdResponseType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:BookerTypeOut" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Get Booker by Criterias Request Type -->
    <xsd:element name="getBookerByCriteriasRequestType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:BookerCriterias" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Get Booker by Criterias Response Type -->
    <xsd:element name="getBookerByCriteriasResponseType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:BookerListType" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Update Booker Request Type -->
    <xsd:element name="updateBookerRequestType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:BookerTypeUpdate" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Update Booker Response Type -->
    <xsd:element name="updateBookerResponseType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="return" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Remove Booker Request Type -->
    <xsd:element name="removeBookerRequestType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:int" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Remove Booker Response Type -->
    <xsd:element name="removeBookerResponseType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="return" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <!--EXTRA-->

    <!-- addCopy Request Type -->
    <xsd:element name="addCopyRequestType">
        <xsd:complexType>
            <xsd:sequence>

                <xsd:element name="ISBN">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minInclusive value="10"/>
                            <xsd:maxInclusive value="13"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="nbCopies">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="10"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- addCopy Response Type -->
    <xsd:element name="addCopyResponseType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="return" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- getAvailable Request Type -->
    <xsd:element name="getAvailableRequestType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ISBN">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minInclusive value="10"/>
                            <xsd:maxInclusive value="13"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- getAvailable Response Type -->
    <xsd:element name="getAvailableResponseType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="return" type="xsd:int" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <!--Types-->

    <!-- List of Bookers -->
    <xsd:element name="BookerListType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:BookerTypeOut" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Booker Criterias-->
    <xsd:element name="BookerCriterias">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ISBN" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minInclusive value="10"/>
                            <xsd:maxInclusive value="13"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Title" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Author" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Booker Type In-->
    <xsd:element name="BookerTypeIn">
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element name="ISBN" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minInclusive value="10"/>
                            <xsd:maxInclusive value="13"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Title" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Author" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="PublicationYear" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1455"/>
                            <xsd:maxInclusive value="2200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Edition" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="NbPages" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="20000"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Keywords" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Booker Type Update-->
    <xsd:element name="BookerTypeUpdate">
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element name="ISBN"  >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string" >
                            <xsd:minInclusive value="10"/>
                            <xsd:maxInclusive value="13"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Title" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Author" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="PublicationYear" minOccurs="0" default="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1455"/>
                            <xsd:maxInclusive value="2200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Edition" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="NbPages" minOccurs="0" default="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="20000"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Keywords" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Booker Type Out-->
    <xsd:element name="BookerTypeOut">
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element name="id" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="20000"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ISBN" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minInclusive value="10"/>
                            <xsd:maxInclusive value="13"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Title" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Author" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="PublicationYear" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1455"/>
                            <xsd:maxInclusive value="2200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Edition" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="NbPages" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="20000"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Keywords" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!--Exception-->

    <!-- Business Exception Type -->
    <xsd:element name="BusinessFaultType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="errorCode" type="xsd:int" />
                <xsd:element name="errorMessage" type="xsd:string" />
                <xsd:element name="errorDescription" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>