troparo-web/src/main/resources/org/troparo/web/entities/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://troparo.org/entities/book" xmlns:tns="http://troparo.org/entities/book"
            elementFormDefault="qualified">

    <!-- Book List Request Type -->
    <xsd:element name="BookListRequestType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="authorName" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Book List Response Type -->
    <xsd:element name="BookListResponseType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="author" type="xsd:string" />
                <xsd:element ref="tns:MovieListType" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- List of Movies -->
    <xsd:element name="MovieListType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:MovieType" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Movie Type -->
    <xsd:element name="MovieType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="movieName" type="xsd:string" />
                <xsd:element name="year" type="xsd:string" />
                <xsd:element name="director" type="xsd:string" />
                <xsd:element name="comments" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Business Exception Type -->
    <xsd:element name="BusinessFaultType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="errorCode" type="xsd:int" />
                <xsd:element name="errorMessage" type="xsd:string" />
                <xsd:element name="errorDescription" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>