troparo-web/src/main/resources/org/troparo/web/entities/member.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://troparo.org/entities/member" xmlns:tns="http://troparo.org/entities/member"
            elementFormDefault="qualified">


    <!-- Add Member Request Type -->
    <xsd:element name="addMemberRequestType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:MemberTypeIn" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Add Member  Response Type -->
    <xsd:element name="addMemberResponseType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="return" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Member List Response Type -->
    <xsd:element name="MemberListResponseType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:MemberListType" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Get Member Request Type -->
    <xsd:element name="getMemberByIdRequestType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="return" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Get Member Response Type -->
    <xsd:element name="getMemberByIdResponseType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:MemberTypeOut" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Update Member Request Type -->
    <xsd:element name="updateMemberRequestType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:MemberTypeUpdate" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Update Member Response Type -->
    <xsd:element name="updateMemberResponseType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="return" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Remove Member Request Type -->
    <xsd:element name="removeMemberRequestType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:int" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Remove Member Response Type -->
    <xsd:element name="removeMemberResponseType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="return" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!--Types-->

    <!-- List of Members -->
    <xsd:element name="MemberListType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:MemberTypeOut" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Member Type In-->
    <xsd:element name="MemberTypeIn">
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element name="ISBN" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minInclusive value="10"/>
                            <xsd:maxInclusive value="13"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Title" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Author" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="PublicationYear" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1455"/>
                            <xsd:maxInclusive value="2200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Edition" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="NbPages" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="20000"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Keywords" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Member Type Update-->
    <xsd:element name="MemberTypeUpdate">
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element name="ISBN"  >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string" >
                            <xsd:minInclusive value="10"/>
                            <xsd:maxInclusive value="13"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Title" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Author" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="PublicationYear" minOccurs="0" default="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1455"/>
                            <xsd:maxInclusive value="2200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Edition" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="NbPages" minOccurs="0" default="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="20000"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Keywords" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Member Type Out-->
    <xsd:element name="MemberTypeOut">
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element name="id" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="20000"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ISBN" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minInclusive value="10"/>
                            <xsd:maxInclusive value="13"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Title" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Author" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="PublicationYear" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1455"/>
                            <xsd:maxInclusive value="2200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Edition" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="NbPages" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="20000"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Keywords" >
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="2"/>
                            <xsd:maxLength value="200"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!--Exception-->

    <!-- Business Exception Type -->
    <xsd:element name="BusinessFaultType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="errorCode" type="xsd:int" />
                <xsd:element name="errorMessage" type="xsd:string" />
                <xsd:element name="errorDescription" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>